@model UserForRegisterDto
<form asp-controller="Account" asp-action="Register">
    <div class="form-group">
        <div class="form-group">
            <label asp-for="FirstName">Adınız *</label>
            <input asp-for="FirstName" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="LastName">Soyadınız *</label>
            <input asp-for="LastName" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber">Telefon Numarası *</label>
            <input asp-for="PhoneNumber" class="form-control">
        </div>

        <label asp-for="Email">E-posta adresi *</label>
        <input asp-for="Email" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Password">Şifre *</label>
        <input asp-for="Password" class="form-control">
    </div>

    <div class="form-footer">
        <button type="submit" class="btn btn-outline-primary-2">
            <span>Kayıt Ol</span>
            <i class="icon-long-arrow-right"></i>
        </button>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
            <label class="custom-control-label" for="register-policy-2">I agree to the <a href="#">privacy policy</a> *</label>
        </div> End .custom-checkbox 
    </div> End .form-footer 
</form>